*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-attachment: fixed;
    background-color: rgb(15, 5, 51);
    background-image: url('img/stars.50fd3b86.svg');
    color: white;
    
}
.navbar .container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar .container #heading h1{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: xx-large;
}

.navbar .container .nav-items{
    display: flex;
    justify-content: space-around;
    border-bottom: solid white 2px;
}
.navbar .container .nav-items .nav-item{
    font-size: larger;
    margin: 10px;
    padding: 5px;
}

.navbar .container .nav-items .nav-item:hover{
    border: solid 1px white;
    transition: 300ms;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h1{
    font-size: 80px;
}
main .details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
main .details .detail{
    font-size: 20px;
    margin-left: 50px;
}

main .container{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

main .container .info-item{
    border: solid silver 2px;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

main .container .info-item h3,
main .container .info-item p{
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 600px){
    .navbar .container .nav-items{
        display: flex;
        flex-direction: column;
        border-bottom: solid white 2px;
    }
    .navbar .container .nav-items .nav-item{
        margin: 5px;
        text-align: center;
    }

    main .details{
        display: flex;
        flex-direction: column;
    }

    main .details img{
        scale: 0.75;
    }
    main .details .detail{
        font-size: 15px;
        text-align: center;
        padding-left: 0px;
        margin-left: 0px;
    }

    main .container{
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main .container .info-item{
        width: 80%;
        margin-top: 5px;
        margin-bottom: 0;
    }
    
}

