@tailwind base;
@tailwind components;
@tailwind utilities;

.main .img-contianer{
    max-width: 100%;
}

.main img{
    content: url("images/hero-mobile.jpg");
    width: 100%;
}

@media (min-width:600px) {
    .main img{
        content: url("images/hero-desktop.jpg");
        height: 100%;
    }
    
}
@media (min-width:1025px){
    body{
        min-height: 100%;
    }
    
}
body{
    font-family: "Josefin Sans";
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

}
.input-container{
    width: 100%;
    position: relative;
}
.input-container button{
    position: absolute;
   top:1px;
    right: 15%;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
.input-container input{
    width: 70%;
    background: transparent;
}